/* Regular elements */
body{

  margin: 0px;
  padding: 0px;

}
h1 {

  font-family: Helvetica;

}
b {

  font-family: Helvetica;

}
p {

  font-family: Helvetica;

}
* {box-sizing: border-box;}
/* END */
/* Header part */
.header{

  width: 100%;
  height: 130px;
  border-bottom: 1px solid black;

}
.logo {

  margin-top: 0px;
  float: left;
  margin: 0px;

}
.logotext {

  float: left;
  font-weight: bold;
  font-size: 30px;
  line-height: 65px;
  margin-left: -60px;
  font-family: Helvetica;

}
.horizontalmenuul {

	padding: 0px;
	margin: 0px;
	list-style-type: none;
	text-align: center;
  line-height: 100px;
  font-size: 18px;
  float: right;

}

.horizontalmenuli {

	display: inline;
	padding: 15px;
	vertical-align: middle;

			}

.horizontalmenua {

	text-decoration: none;
	padding: 5px 5px 5px 5px;
  margin: 60px 60px 60px 60px;
	color: black;
	vertical-align: middle;
  border-radius: 10px;

}
.horizontalmenua:hover {

  color: white;
  background-color: black;

}
.fittoscreen {

  width: 100%;
  max-height: 600px;
  object-fit: cover;
  margin-top: -45px;

}
/* END */
/* Info Section */
.middlecontainer {

  position: relative;
  text-align: center;
  color: white;

}
.texttotopleft {

  position: absolute;
  top: 100px;
  left: 50px;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 40px;

}
.texttotopleft2 {

  position: absolute;
  top: 270px;
  left: 50px;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 35px;

}
.buttontrainer {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 130px;
  margin-left: -200px;
  font-family: Helvetica;
  border-radius: 10px;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  background-color: white;

}
.buttonmember {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 130px;
  margin-left: 200px;
  font-family: Helvetica;
  border-radius: 10px;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  background-color: white;

}
/* END */
/* All forms pop up */
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  z-index: 9;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
}
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.form-container .btn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: red;
}
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
/* END */
